<html>
  <head></head>
  <body>
    <form>
      <p>Name: <input placeholder="name" name="ad" [(ngModel)]="item.name"/>
      </p>

      <p>SName: <input placeholder="sname" name="soyad" [(ngModel)]="item.sname" />
      </p>
      <button type="submit"  (click)="saveData()"> save </button>
    </form>

    <table *ngIf="data.length>0" >
      <thead>
        <th>Name</th>
        <th>SName</th>
      </thead>
      <tbody *ngFor="let d of data">
        <td>{{d.name}}</td>
        <td>{{d.sname}}</td>
      </tbody>
    </table>
  </body>
</html>
