 td, th {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

h1{
  border-collapse: collapse;
  margin: auto;
  text-align: center;
}


.formClass{
  text-align: center;
  margin: 20px 0;
}
.formClass>input{
  padding:5px;
  width: 86%;
  float: left;
}

.formClass>button{
  padding: 7px;
  background: blue;
  border: 0;
  cursor: pointer;
}
