<html>
  <head></head>
  <body>
    <div [style.margin]="'auto'" [style.width]="'40%'">
      <h1> {{getTodoName}} </h1>
      <form [ngClass]="'formClass'">
        <input type="text" #userName />
        <button (click)="addUser(userName.value); userName.value=''"> addUser </button>
      </form>
      <div [ngStyle]="{'width':'100%','margin':'10px 0'}">
          <input  [ngStyle]="{'width':'17px','height':'17px'}"
                  type="checkbox" [(ngModel)] = "showAllUser"/>
          <strong [ngStyle]="{'font-size':'20px'}">Butun istifadecileri goster</strong>
      </div>

      <table *ngIf="getItems" [ngStyle]=" {'border':'3px solid gray','border-collapse': 'collapse'} ">
        <thead >
          <th>Name</th>
          <th>action</th>
          <th>Istifadeci listesi</th>
        </thead>
        <tbody *ngFor="let item of getItems">
          <td>{{item.userName}}</td>

          <td>
            <input type="checkbox" [(ngModel)] = "item.action" />
          </td>

          <td [ngSwitch] = "item.action">
            <span *ngSwitchCase="true">
              Bele User Var
            </span>

            <span *ngSwitchCase="false">
              Bele User yoxdur
            </span>
          </td>

        </tbody>
      </table>
    </div>
  </body>
</html>
